/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #276749 53%, white 47%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}